<section class="section-timer">

<div class="container">

<div class="page-info">
<h1 class="page-info__title">{{title}}</h1>
<p class="page-info__subtitle page-info__subtitle--timer">
{{description}}
</p>
</div>

<div class="estimation">
<p class="estimation__icons">{{{pomodoros estimation}}}</p>
<button class="estimation__add-btn disabled"><span class="icon-add"></span></button>
</div>

<div class="timer-container"></div>

<div class="navigation">
<a href="/task-list" class="navigation__left" title="Go to global list">
<span class="icon-arrow-left"></span>
</a>
<a href="/reports/day/tasks" class="navigation__right disabled" title="Go to reports">
<span class="icon-arrow-right"></span>
</a>
</div>

</div>

</section>