<section class="section-settings">

                <div class="container">

                    <div class="page-info">
                        <h1 class="page-info__title">Settings</h1>
                    </div>

                    <!--PAGE TABS-->

                    <div class="page-tabs">

                        <!--PAGE TABS LINKS-->

                        <div class="page-tabs__links">
                            <a class="page-tabs__link page-tabs__link--pomodoros" href="/settings/pomodoros">Pomodoros</a>
                            <a class="page-tabs__link page-tabs__link--categories page-tabs__link--active" href="/settings/categories">Categories</a>
                        </div>                        

                        <!--PAGE TABS CONTENT END-->
                        <!--PAGE TABS CONTENT-->

                        <div class="page-tabs__content page-tabs__content--active">
                            <div class="page-info">
                                <h3 class="page-info__subtitle"> Сategories list overview </h3>
                            </div>
                            <div class="categories">
                                <ul class="categories__list categories__list--decorated">
                                    <li class="categories__item categories__item--work">
                                        <a class="categories__link" href="#">Work</a>
                                    </li>
                                    <li class="categories__item categories__item--education">
                                        <a class="categories__link" href="#">Education</a>
                                    </li>
                                    <li class="categories__item categories__item--hobby">
                                        <a class="categories__link" href="#">Hobby</a>
                                    </li>
                                    <li class="categories__item categories__item--sport">
                                        <a class="categories__link" href="#">Sport</a>
                                    </li>
                                    <li class="categories__item categories__item--other">
                                        <a class="categories__link" href="#">Other</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="buttons buttons--categories-page">
                                <a class="buttons__btn buttons__btn--solid buttons__btn--solid-dark-sky-blue" href="/task-list">Go to Tasks</a>
                            </div>
                        </div>

                        <!--PAGE TABS CONTENT END-->

                    </div>

                    <!--PAGE TABS END-->

                </div>

            </section>