<header class="header">
        <div class="container">
            <div class="header__content">
                <div class="header__logo">
                    <a href="#"><img src="../images/Logo.svg" alt="logo" /></a>
                </div>
                <div class="header__menu">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item disabled">
                                <a class="menu__link menu__link--add" href="javascript:void(0)" title="Add">
                                    <span class="icon-add add-btn"></span>
                                </a>
                            </li>
                            <li class="menu__item disabled">
                                <a class="menu__link menu__link--trash menu__link--remove" href="javascript:void(0)" title="Delete">
                                    <span class="icon-trash"></span>
                                    <span class="trash-count">0</span>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link menu__link--tasks" href="/task-list" title="Go to task list">
                                    <span class="icon-list"></span>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link menu__link--reports" href="/reports/day/tasks" title="Go to reports">
                                    <span class="icon-statistics"></span>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link menu__link--settings" href="/settings/pomodoros" title="Go to settings">
                                    <span class="icon-settings"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>