<div class="notifications__message notifications__message--{{type}}">
    <div class="notifications__icon"><span class="icon-tomato-{{type}}"></span></div>
    <div class="notifications__content">
        <p>{{text}}</p>
    </div>
    <div class="notifications__close">
        <button><span class="icon-close"></span></button>
    </div>
</div>
