<div class="timer timer--break">
<div class="timer__circle">
    <div class="wrapper-timer">
        <div class="minute-hand part"></div>
        <div class="piece--left"></div>
        <div class="piece--right part"></div>
        <p class="time"></p>
    </div>
</div>
</div>

<div class="buttons buttons--timer">
<button class="buttons__btn buttons__btn--start-from-success buttons__btn--solid buttons__btn--solid-topaz">Start Pomodora</button>
<button class="buttons__btn buttons__btn--complete-task buttons__btn--solid buttons__btn--solid-dark-sky-blue">Complete Task</button>
</div>

