<section class="section-global-list">
    <div class="container">
        <div class="global-list">
            <div class="global-list__content global-list__content--main mt-minus30">
                <div class="page-tabs">
                    <div class="page-tabs__links">
                        <div class="left-col">
                            <a class="page-tabs__link select-all-global" href="javascript:void(0);">Select All</a>
                            <a class="page-tabs__link deselect-all-global" href="javascript:void(0);">Deselect All</a>
                        </div>
                        <div class="right-col filter">
                            <a class="page-tabs__link page-tabs__link--active" href="javascript:void(0);">All</a>
                            <a class="page-tabs__link" href="javascript:void(0);">Urgent</a>
                            <a class="page-tabs__link" href="javascript:void(0);">High</a>
                            <a class="page-tabs__link" href="javascript:void(0);">Middle</a>
                            <a class="page-tabs__link" href="javascript:void(0);">Low</a>
                        </div>
                    </div>
                    <div class="page-tabs__content page-tabs__content--active"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>