<section class="section-tasklist">
    <div class="container">
        <div class="page-info">
            <h1 class="page-info__title">Daily Task List <span class="icon icon-add add-btn" title="Add task"></span></h1>
        </div>
        <div class="daily-task-message daily-task-message--any daily-task-message--medium-spacer disabled">
            <img src="../images/tomato-addv02.svg" alt="add task">
            <p class="message daily-task-message__message">You don’t have any tasks left.
                <br>Add new tasks to stay productive.</p>
        </div>
        <div class="daily-task-message daily-task-message--first-task daily-task-message--medium-spacer disabled">
            <img src="../images/tomato-add.svg" alt="add task">
            <p class="message daily-task-message__message">Add your first task</p>
        </div>
        <div class="page-tabs page-tabs--tabs page-tabs--main"></div>
        <div class="page-tabs page-tabs--tabs page-tabs--removed"></div>
    </div>
</section>