<section class="section-first-time">
    <div class="container">
        <div class="page-info">
            <h1 class="page-info__title">Daily Task List <span class="icon icon-add"></span></h1>
        </div>
        <div class="daily-task-message daily-task-message--big-spacer">
            <img src="../images/tomato_settings.svg" alt="settings">
            <p class="message daily-task-message__message">As you visited our site for a first time you cancheck and customize your default application settings</p>
            <div class="buttons">
                <a href="/task-list" class="buttons__btn buttons__btn--solid buttons__btn--solid-dark-sky-blue">Skip</a>
                <a href="/settings/pomodoros" class="buttons__btn buttons__btn--solid buttons__btn--solid-topaz">Go to settings</a>
             </div>
        </div>
    </div>
</section>