<section class="section-report">

            <div class="container">

                <div class="page-info">
                    <h1 class="page-info__title">Report</h1>
                </div>

                <div class="page-tabs section-report__tabs">

                    <!--PAGE TABS LINKS-->

                    <div class="page-tabs__links">
                        <a class="page-tabs__link page-tabs__link--active" href="/reports/day/tasks" data-link="day">Day</a>
                        <a class="page-tabs__link" href="/reports/week/tasks" data-link="week">Week</a>
                        <a class="page-tabs__link" href="/reports/month/tasks" data-link="month">Month</a>
                    </div>

                    <!--PAGE TABS LINKS END-->
                    <!--PAGE TABS CONTENT-->

                    <div class="page-tabs__content page-tabs__content--active">

                        <div class="page-tabs page-tabs--internal">

                            <div class="page-tabs__content page-tabs__content--pomodoros page-tabs__content--active">
                                <div class="page-tabs__graph">
                                    <div id="reports">

                                    </div>
                                </div>
                            </div>

                            <div class="page-tabs__links">
                                <a class="page-tabs__link" href="/reports/day/pomodoros">Pomodoros</a>
                                <a class="page-tabs__link page-tabs__link--active" href="javascript:void(0)">Tasks</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="navigation">
                    <a href="/task-list" class="navigation__left" title="Go to global list"><span class="icon-arrow-left"></span></a>
                </div>

            </div>

        </section>