<div class="timer">
<div class="timer__circle">
<div class="timer__content">
<p class="timer__message">Let’s do it!</p>
</div>
</div>
</div>

<div class="buttons buttons--timer">
<button class="buttons__btn buttons__btn--start-process buttons__btn--solid buttons__btn--solid-topaz buttons__btn--solo">Start</button>
</div>